html, body {
    height: 100%;
    margin: 0;
    width: 100%; 
    overflow-x: hidden; 
}
.backgroundcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/Background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    line-height: 5vh;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoutbutton-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 0%;
    padding: 10px 0px;
    background:transparent;
    justify-content: space-around;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px 0px 20px 0px;
}

.logoutbutton-div h4{
    position: absolute;
    left: 10%;
    right: 10%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    padding-bottom: 10px;
}

.logout-button {
    position: absolute;
    right: 0;
    font-size: medium;
    font-weight: bold;
    background: transparent;
    font-size: 40px;
    color: #e4e4e4;
    border: none;
    cursor: pointer;
}


.loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.notification {
    display: none;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    background:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: white;
    font-size: 20px;
    padding: 0px 8px;
    border-radius: 10px;
    z-index: 1000;
    max-width: 80%;
    text-align: center;
}

.notification.visible {
    display: flex; 
}

.notification.hidden {
    display: none; 
}

.home-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px ;
}

.home-menu .h1-first{
    font-size: 60px;
    justify-content: center;
    font-weight: 800;
}

.home-menu .h1-second{
    font-size: 45px;
    justify-content: center;
    font-weight: 800;
}

.home-menu .user-manage-btn{
    position: relative;
    top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.add-remove-icon{
    position: inherit;
    top: 5px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.user-btn-add{
    position: relative;
    left: 10%;
    width: 250px;
    height: 50px;
    background: #534d4d2f;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

.user-btn-remove{
    position: relative;
    right: 10%;
    width: 250px;
    height: 50px;
    background: #534d4d2f;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.add-user-container {
    position: absolute;
    top: 15%;
    height:70% ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 600px;
    padding: 20px;
}

.detail-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.detail-form h2{
    margin: -10px 0px 30px 0px;
    padding: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}

.detail-form .input-box-div{
    position: relative;
    width:450px;
    height:45px;
    border-bottom: 2px solid white;
    margin: 13px 0px;
}

.input-box-div input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10%;
    box-sizing: border-box;
}

.input-box-div .icon-box {
    position: absolute;
    top: 6px;
    right: 0px;
    font-size: 19px;
    color: white;
}

.input-box-div label {
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s ease-in-out; 
}

.input-box-div input:focus ~label{
    padding-bottom: 2px;
    top: 5%;
    transform: translateY(-60%);
}

.input-box-div input:valid ~ label {
    padding-bottom: 2px;
    top: 5%;
    transform: translateY(-60%);
}

.detail-form .error{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 70%; 
    margin: 20px 0;
}

.btns{
    position: relative;
    top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.add-user-btn{
    position: relative;
    left: 80px;
    width: 200px;
    height: 50px;
    background: #534d4d2f;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.add-user-btn span{
    position: absolute;
    top: 15px;
    font-size: 19px;
    color: white;
}

.back-btn{
    position: relative;
    right: 80px;
    width: 200px;
    height: 50px;
    background: #534d4d2f;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.back-btn span{
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 19px;
    color: white;
}
  
.removeuser-container {
    width: 100%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2-users {
    margin: 20px 0;
    font-size: 60px;
    text-align: center;
}

.h2-users .user-icon {
    position: relative;
    top: 7px;
    left: 10px;
    font-size: 50px;
}

.table-container {
    min-width: 800px;
    width: 80%;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-top: 20px;
}

table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
    table-layout: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

table, th, td {
    border: 1px solid #ddd;
    border-style: dashed;
    padding: 12px 15px;
    text-align: center;
}

th {
    font-size: 19px;
    font-weight: 800;
}

td {
    font-size: 15px;
}

.name {
    text-align: left;
    padding-left: 40px;
}

.connectioncode, .delbutton, .email {
    text-align: center;
}
.connectioncode{
    letter-spacing: 3px;
}

.delete {
    background-color: transparent;
    color: #ff2718;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.del-icon {
    position: relative;
    top: 5px;
    font-size: 30px;
}

.del-icon:hover {
    color: #ca3131;
    transform: scale(1.1);
}

.back-button {
    margin-top: 40px;
    padding: 10px 30px;
    width: 200px;
    height: 50px;
    background: #534d4d2f;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.back-button span{
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 20px;
    color: white;
}

@media (max-width: 768px) {
    .h2-users {
        font-size: 24px;
    }

    .h2-users .user-icon {
        font-size: 20px;
    }

    .back-button {
        width: 150px;
        font-size: 14px;
    }
}
